* {
  font-family:      Helvetica, sans-serif;
  font-size:        medium;
  background-color: #e0e0e0;
  padding:          unset;
}

h1 {
  font-size: larger;
}

body.generalPage {
  background: center / contain no-repeat url("dora.jpg");
}

body.generalPage * {
  background-color: rgba(0,0,0,0);
}
