/* Remove default bullets */
ul, #theTreeTop {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#theTreeTop {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  width:   20px;
  margin:  2px;
  padding: 0px;
  border:  none;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.treeTable {
  table-layout: fixed;
}

.leaf {
  width: 100%;
}

.tooltip {
  position:   absolute;
  padding:    2px;
  display:    none;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  background-color: #dddddd;
}

.tooltip p {
  padding:    0px;
  border:     none;
  margin:     0px;
}

.tooltip.show {
  display: block;
}

.dropbutton {
	border: none;
    margin: 0px;
}

.dropbutton:hover, .dropbutton:focus {
	background-color: #d0d0d0;
}

.dropdown-container {
	position: relative;
	display:  block;
}

.dropdown-content {
	display:  none;
	position: absolute;
    left:       24px;
	width:      max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button,label,a {
	padding:          4px 4px;
	text-decoration:  none;
	text-decoration:  none;
	border:           none;
    color:            #000000;
	width:            100%;
	display:          block;
	text-align:       left;
	font-family:      sans;
	background-color: #EEEEEE;
}

.dropdown-content input[type="file"] {
	display:         none;
}

.dropdown-content button:hover,label:hover,a:hover {
    background-color: #d0d0d0;
}

.dropdown-content.show {
	display: block;
}
